<form method="post" action="~/Row/Delete">
    <p>
        <h3>You sure you want to delete @ViewBag.id row?</h3>
    <p>
        <input hidden name="tabName" value="@ViewBag.tabName" />
    </p>
    <p>
        <input hidden name="rowId" value="@ViewBag.id" />
    </p>
    </p>
    <p>
        <input type="submit" value="Видалити" />
    </p>
</form>