<form method="post" action="~/Table/Create">
    <p>
        <label>Назва</label><br />
        @Html.TextBox("name")
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>