<form method="post" action="~/Table/Multiply">
    <p>
        <label>Таблиця1:</label><br />
        @Html.TextBox("name1")
    </p> <p>
        <label>Таблиці2:</label><br />
        @Html.TextBox("name2")
    </p>
    <p>
        <input type="submit" value="Помножити" />
    </p>
</form>